{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>All Students</h1>
    <div class="centerstage">
        <div class="student">
            <table class="table" style="border: 1px solid;">
                <thead>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>SurName</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Standerd</th>
                </thead>
                {% for student in student_list %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.middle_name }}</td>
                    <td>{{ student.surname }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.standerd }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}